<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>

  <h1>
    <%= searchResults[0] %>
  </h1>

  <p>
    <%= searchResults[1] %>
  </p>

  <a href='/'>Home</a>

</body>

</html>